extends layout

block content
	.article
		.articleHeader
			.title= title
			.date= date
			.author= article.author
		.content= article.content


	.commentsLabel Comments
	ol.comments
		each comment in article.comments
			li
				.author= comment.author
				.date= comment.date
				.comment= comment.content