// @author Marenin Alexander
// November 2012

extends layout

block scripts
    script(src='/static/js/marked.js')
    script
        $(function(){
            var textarea = $( 'textarea[name=content]' ),
                content = textarea.val();

            textarea.on( 'keydown', function( event ){
                if ( isTab() ){
                    event.preventDefault();
                    var pos = Math.min( this.selectionStart, this.selectionEnd ),
                        text = this.value,
                        start = text.substr( 0, pos );

                    if ( isShiftPressed() ){
                        var reduced = start.replace( /( ){1,4}$/, '' );
                        this.value = reduced + text.substr( pos );
                        this.setSelectionRange( reduced.length, reduced.length );
                    }
                    else {
                        this.value = start + '    ' + text.substr( pos );
                        this.setSelectionRange( pos + 4, pos + 4 );
                    }
                }

                function isTab(){
                    return event.keyCode == 9;
                }

                function isShiftPressed(){
                    return event.shiftKey;
                }
            });
            textarea.on( 'keydown keyup change', function resizeTextArea(){
                var elem = $(this),
                    scrollHeight = this.scrollHeight,
                    innerHeight = elem.innerHeight();
                if ( scrollHeight > innerHeight )
                    elem.innerHeight( scrollHeight );
            });
            textarea.keydown();

            setInterval( function(){
                if ( textarea.val() != content ){
                    content = textarea.val();
                    $( '#parsedContent' ).html( marked(content) );
                }
            }, 2000 );

            var fields = [
                $( 'input[name=title]' ),
                $( 'input[name=id]' ),
                $( 'input[name=author]' ),
                $( 'textarea[name=content]' )
            ];

            $( '#articleEdit').submit( function(){
                if ( fields.every(isValid) )
                    return true;
                else {
                    $( '.errorMessage' ).html( 'Please, fill in all fields' );
                    return false;
                }
            });

            function isValid( elem ){
                return elem.val().length > 0;
            }
        });

block content
    form#articleEdit(method='POST')
        .inputField
            .label Title
            input(name='title', type='text', value=title, placeholder='Life is beautiful')
        .inputField
            .label Article ID
            input(name='id', type='text', value=id, placeholder='some_article')
        .inputField
            .label Date
            input(name='date', type='date', value=date)
        .inputField
            .label Author
            input(name='author', type='author', value=author, placeholder='Ludovic XIV')
        .inputField
            .label Text
            textarea(name='content', placeholder='Text content.')= content
        .inputField
            .label Parsed HTML
            div(id='parsedContent')!= htmlContent
        .errorMessage
            if typeof errorMessage == 'string'
                p= errorMessage
        input(type='submit', value='Save')
