extends layout

block content
	.article
		.articleHeader
			.title= title
			.meta
				.date= toDate(date)
				.author= article.author
		.content= article.content

	.commentsLabel Comments
	if article.comments.length
		ol.comments
			each comment in article.comments
				li
					.author= comment.author
					.date= comment.date
					.comment= comment.HtmlContent
	else
		.noComments No comments yet