extends layout

block content
    //each article, id in articles
    each id in index
        .article
            .articleHeader
                .title
                    a(href='articles/' + id)= articles[id].title
                    if canEdit
                        a.smallRef(href='/article/' + id) (edit)
                .meta
                    .date= toDate(articles[id].date)
                    .author= articles[id].author
                    .commentsCount #{articles[id].comments.length} comments
            .content!= articles[id].htmlContent
