extends layout

block content
    each article, id in articles
        .article
            .articleHeader
                .title
                    a(href='articles/' + id)= article.title
                    if canEdit
                        a.smallRef(href='article/' + id) (edit)
                .meta
                    .date= toDate(article.date)
                    .author= article.author
                    .commentsCount #{article.comments.length} comments
            .content!= article.htmlContent
